@model LibrarySystem.Context.ApplicationUser

@{
    ViewData["Title"] = "Change Password";
}

<h1> Change Password </h1>

<form action="ChangePassword" method="post"> 
    <div>
        Please Enter a new Password <br />
        <input name="password" />

    </div>
    <button type="submit"> Change Password</button>
</form>